:javascript
  $(function(){
    $("#slides").slidesjs({
      width: 800,
      height: 350,
      play: {
        active: true,
          // [boolean] Generate the play and stop buttons.
          // You cannot use your own buttons. Sorry.
        effect: "fade",
          // [string] Can be either "slide" or "fade".
        interval: 6000,
          // [number] Time spent on each slide in milliseconds.
        auto: true,
          // [boolean] Start playing the slideshow on load.
        swap: true,
          // [boolean] show/hide stop and play buttons
        pauseOnHover: false,
          // [boolean] pause a playing slideshow on hover
        restartDelay: 2500
          // [number] restart delay on inactive slideshow
      },
      pagination: {
        active: false
      }
    });

    $("a.slidesjs-previous").html(
      '<i class="icon-step-backward"></i>'
    );
    $("a.slidesjs-next").html(
          '<i class="icon-step-forward"></i>'
    );
    $("a.slidesjs-play").html(
              '<i class="icon-play"></i>'
    );
    $("a.slidesjs-stop").html(
              '<i class="icon-stop"></i>'
        );

  });

%h1.text-center#home-header Welcome to GoalieGoals!

%p.welcome-intro GoalieGoals is a free web application designed to help you create, manage, and achieve SMART goals. It allows you to quickly determine if you are on track to meet your goals. Additionally, it allows you to see how far ahead or behind you are on achieving goals. This kind of instant visual feedback is critical to helping you stay motivated and be successful.                                      |

#slides.text-center
  =image_tag 'veggies/veggie-passing-logs.png', class: 'img-rounded', id: 'logs-img'
  =image_tag 'Goals-Screen-10-27-2013-cropped.png', class: 'img-rounded', id: 'goals-img'
