<h3>Details of Goalie Goals</h3>
<p>
Goalie is a goal management application designed to help you set goals that follow the SMART(ER) principles.
</p>

<p>
<b>S</b>pecific<br>
<b>M</b>easurable<br>
<b>A</b>ction-based<br>
<b>R</b>esult-based<br>
<b>T</b>ime-bound<br>
<b>E</b>valuate<br>
<b>R</b>eevaluate<br>
</p>

<p>
Let’s review an example goal to see how a GoalieGoal helps you adhere to the SMART principles.
</p>

<h3>Setting Goals</h3>
<%= image_tag 'veggies/goals-default-with-veggie-highlight-crop.png', class: 'detail-img img-rounded', id: 'veggie-goals-img' %>

<p>
The goal highlighted in orange reads as follows, “Eat 2 vegetables 1 times a day starting 2013-10-27 and ending 2013-11-27”. The goal is specific by defining:
</p>

<ul>
  <li>What action you should do (“Eat 2 Vegetables”)</li>
  <li>How often you should do it (“1 times a day”)</li>
  <li>How long you should do it (“for 1 month”)</li>
</ul>
<p>
The goals are always measurable since the expectations to achieve the goal can be quantified into a daily requirement. With this information, we can determine if each Goal has had enough progress to be “Passing” or “Failing” on a given day. This is shown in the status column on the Goals page and in more detail for each individual goal in the Logs page (shown below).
</p>

<h3>Tracking Progress</h3>
<%= image_tag 'veggies/veggie-passing-logs.png', class: 'detail-img img-rounded', id: 'passing-veggie-logs-img' %>
<p>
The Logs page measures and tracks the progress of our goal based on journal entries. In the example above, we are on day 4 of our goal. The minimum needed to stay on track for our goal is shown graphically by the dark red progress bar above and numerically by the text “8 Vegetables”. Our current progress is shown by the dark green bar and tells us we’ve eaten “9 Vegetables”. Since our current progress is greater than the minimum, we are on target to achieve our goal. This can be seen visually by comparing the dark bars and more easily at the top of the logs page by the light green box around our goal and the text, “On Target to Achieve Goal”. If we were behind on our goal, the box would be light red and contain the text “Failing to Achieve Goal” as is shown below.
</p>

<h3>Failing to Achieve a Goal</h3>
<%= image_tag 'veggies/veggie-failing-logs.png', class: 'detail-img img-rounded', id: 'failing-veggie-logs-img' %>

<p>
We can also evaluate and if necessary reassess our goals if we are falling behind due to being overly ambitious. The above serves as a good example of what it would look like if we stretched a little too far with a goal.
</p>

<h3>Final Goal Target</h3>
<p>
In order to fully achieve our end goal, we will need to eat a total of “62 Vegetables”. Seeing the total requirement helps us visualize our end goal and gives us a better feel for how attainable is our goal.
</p>

<h3>Planned Features</h3>
<p>
There are many more features planned. Here's a list of a few major features:
</p>
<ul>
  <li>Mobile Applications: Android, iPhone, Windows Mobile</li>
  <li>Sharing Goals and Progress Reports with friends and followers on: Facebook, Twitter, Email</li>
  <li>Hiding/Filtering of Completed Goals</li>
</ul>