.no-margins {
  margin: 0px;
}

.no-borders {
  borders: 0px;
}

.text-center {
  text-align: center !important;
}

.goal-link {
  color: black;
  text-decoration: underline;
  &:hover {
    background-color: transparent;
    color: #555555;
  }
}

.hidden {
  display: none;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-top-border {
  border-top: none;
}

.plain-top {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.date-cell {
  width: 123px;
}

.date-field {
  height: 30px !important;
  width:  90px;
}

td.date-cell .field_with_errors {
  float: left;
}