@import "app-variables";

h1 {
  font-size: $xl-font-size;
}

th {
  font-size: $medium-font-size;
}

.no-margins {
  margin: 0px;
}

.no-borders {
  borders: 0px;
}

.text-center {
  text-align: center !important;
}

.goal-link {
  color: black;
  text-decoration: underline;
  &:hover {
    background-color: transparent;
    color: #555555;
  }
}

.hidden {
  display: none;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-top-border {
  border-top: none;
}

.plain-top {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.date-cell {
  width: 115px;
}

.date-field {
  height: 30px !important;
  width:  84px;
}

td.date-cell .field_with_errors {
  float: left;
}

#actions-header {
  border-top-right-radius: 4px !important;
}

.view-edit-pair:last-of-type .action-cell {
  border-bottom-left-radius: 4px !important;
}

.view-edit-pair:last-of-type .actions-cell {
  border-bottom-right-radius: 4px !important;
}
.actions-cell {
  width: 60px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
