// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goal {

  .field {
    //display: inline;
  }

  label {
    //display: inline;
  }

  input {
    width: 75px !important;
  }

  select[id$='2i']{
    width: 125px !important;
  }

  select {
    width: 75px !important;
  }
}

.target {
  border: 2px;
  border-color: black;
  border-style: ridge;

}

.pass {
  background-color: red;
}
.fail {
  background-color: green;
}
