/* Prevents slides from flashing */
#slides {
  display:none;
  img {
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    position: static !important;
    box-shadow: inset 0px 0px 10px #000;
  }
  height: 450px;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.slidesjs-container {
  //position: static;
}

#goals-img {
  height: 219px;
  width: 800px !important;
}

#logs-img {
  height: 401px;
  width: 800px !important;
}

#home-header {
  text-shadow: 5px 5px 5px #aaa;
  font-variant: small-caps;
}

p.welcome-intro {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}