// Place all the styles related to the Logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.position-relative {
  position: relative;
  top: 0px;
  left: 0px;
}

.position-absolute {
  position: absolute;
}

.float-right {
  float: right;
}

.total-for-goal-div {
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.progress-label {
  font-style: italic;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.progress-unit {
  font-style: normal;
  font-weight: bold;
}

.progress.log {
  position: relative;
}

#log-date-header {
  border-top-left-radius: 4px !important;
}

.log-date-cell {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.view-edit-pair:last-of-type .log-date-cell {
  border-bottom-left-radius: 4px !important;
}

.quantity-column {
  width: 121px;
}

.quantity-field {
  width: 115px;
}

.description-column {
  width: 500px;
}

.description-field {
  width: 95%;
  margin-bottom: 0px;
}

$inputWidth: 206px;
$dateIconWidth: 28px;
input.hasDatepicker.log-edit {
  width: $inputWidth - $dateIconWidth;
}

label.table-input, input.table-input {
  margin-bottom: 0;
}
