// Place all the styles related to the Logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log-timeline {
  font-weight: bold;
}

.progress-label {
  font-style: italic;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.progress-unit {
  font-style: normal;
  font-weight: bold;
}

.progress.log {
  position: relative;
}

.date-field {
  width: 94px;
}

.date-column {
  width: 121px;
}

.quantity-column {
  width: 121px;
}

.quantity-field {
  width: 121px;
}

.description-column {
  width: 500px;
}

.description-field {
  width: 100%;
}

$inputWidth: 206px;
$dateIconWidth: 28px;
input.hasDatepicker.log-edit {
  width: $inputWidth - $dateIconWidth;
}

label.table-input, input.table-input {
  margin-bottom: 0;
}
